In [1]:
# Importing Libraries
from pyspark.sql import SQLContext
from pyspark import SparkContext

In [2]:
# Creating a Spark Session
from pyspark.sql import SparkSession

In [3]:
Surya = SparkSession.builder.appName("Text Classification").getOrCreate()

In [4]:
# Loading dataset
TC = spark.read.csv("Corona_NLP_train.csv", header = True, inferSchema = True)

In [5]:
TC.show(10)

+--------------------+--------------------+--------------------+--------------------+--------------------+---------+
|            UserName|          ScreenName|            Location|             TweetAt|       OriginalTweet|Sentiment|
+--------------------+--------------------+--------------------+--------------------+--------------------+---------+
|                3799|               48751|              London|          16-03-2020|@MeNyrbie @Phil_G...|  Neutral|
|                3800|               48752|                  UK|          16-03-2020|advice Talk to yo...| Positive|
|                3801|               48753|           Vagabonds|          16-03-2020|Coronavirus Austr...| Positive|
|                3802|               48754|                null|          16-03-2020|My food stock is ...|     null|
|              PLEASE|         don't panic| THERE WILL BE EN...|                null|                null|     null|
|           Stay calm|          stay safe.|                null|                null|                null|     null|
|#COVID19france #C...|            Positive|                null|                null|                null|     null|
|                3803|               48755|                null|          16-03-2020|Me, ready to go a...|     null|
|Not because I'm p...| but because my f...|          but please| don't panic. It ...|                null|     null|
|#CoronavirusFranc...|  Extremely Negative|                null|                null|                null|     null|
+--------------------+--------------------+--------------------+--------------------+--------------------+---------+
only showing top 10 rows

Showing the top 10 rows of the dataset

In [6]:
# To show columns in the Datasets 
TC.columns

['UserName', 'ScreenName', 'Location', 'TweetAt', 'OriginalTweet', 'Sentiment']

In [7]:
TC.count()

68046

In [8]:
TC.toPandas().isnull().sum()

UserName             4
ScreenName       12417
Location         33799
TweetAt          26311
OriginalTweet    26663
Sentiment        39429
dtype: int64

This shows that the data sets contains a lot of null values. We must remove these null values or they can affect the accuracy of our model.

In [10]:
TC = TC.dropna()

In [11]:
TC.toPandas().isnull().sum()

UserName         0
ScreenName       0
Location         0
TweetAt          0
OriginalTweet    0
Sentiment        0
dtype: int64

Here the null values of the data set has been removed.

In [12]:
TC.count()

22358

In [13]:
TC.show()

+--------+----------+--------------------+----------+--------------------+------------------+
|UserName|ScreenName|            Location|   TweetAt|       OriginalTweet|         Sentiment|
+--------+----------+--------------------+----------+--------------------+------------------+
|    3799|     48751|              London|16-03-2020|@MeNyrbie @Phil_G...|           Neutral|
|    3800|     48752|                  UK|16-03-2020|advice Talk to yo...|          Positive|
|    3801|     48753|           Vagabonds|16-03-2020|Coronavirus Austr...|          Positive|
|    3804|     48756|ÜT: 36.319708,-82...|16-03-2020|As news of the re...|          Positive|
|    3805|     48757|35.926541,-78.753267|16-03-2020|"Cashier at groce...|          Positive|
|    3807|     48759|     Atlanta, GA USA|16-03-2020|Due to COVID-19 o...|          Positive|
|    3808|     48760|    BHAVNAGAR,GUJRAT|16-03-2020|For corona preven...|          Negative|
|    3809|     48761|      Makati, Manila|16-03-2020|All month there h...|           Neutral|
|    3811|     48763|          Horningsea|16-03-2020|#horningsea is a ...|Extremely Positive|
|    3818|     48770|          Denver, CO|16-03-2020|For those who are...|          Positive|
|    3819|     48771|southampton soxx xxx|16-03-2020|with 100  nations...|Extremely Negative|
|    3823|     48775|    Downstage centre|16-03-2020|@10DowningStreet ...|          Negative|
|    3824|     48776|              London|16-03-2020|UK #consumer poll...|Extremely Positive|
|    3825|     48777|      Ketchum, Idaho|16-03-2020|In preparation fo...|          Negative|
|    3826|     48778| Everywhere You Are!|16-03-2020|This morning I te...|Extremely Negative|
|    3834|     48786|             Sverige|16-03-2020|Went to the super...|           Neutral|
|    3836|     48788|              Canada|16-03-2020|Worried about the...|          Positive|
|    3838|     48790|       United States|16-03-2020|Now I can go to t...|          Positive|
|    3841|     48793|             Houston|16-03-2020|CHECK VIDEO ?? ht...|Extremely Negative|
|    3842|     48794|Vancouver, Britis...|16-03-2020|Breaking Story: O...|           Neutral|
+--------+----------+--------------------+----------+--------------------+------------------+
only showing top 20 rows

Data set after removing the null values

In [14]:
from pyspark.sql.functions import length

In [15]:
TC = TC.withColumn('Tweet_length', length(TC['OriginalTweet']))

In [17]:
TC.show(5)

+--------+----------+--------------------+----------+--------------------+---------+------------+
|UserName|ScreenName|            Location|   TweetAt|       OriginalTweet|Sentiment|Tweet_length|
+--------+----------+--------------------+----------+--------------------+---------+------------+
|    3799|     48751|              London|16-03-2020|@MeNyrbie @Phil_G...|  Neutral|         111|
|    3800|     48752|                  UK|16-03-2020|advice Talk to yo...| Positive|         237|
|    3801|     48753|           Vagabonds|16-03-2020|Coronavirus Austr...| Positive|         131|
|    3804|     48756|ÜT: 36.319708,-82...|16-03-2020|As news of the re...| Positive|         249|
|    3805|     48757|35.926541,-78.753267|16-03-2020|"Cashier at groce...| Positive|         184|
+--------+----------+--------------------+----------+--------------------+---------+------------+
only showing top 5 rows

In [18]:
sentiments = ['Positive','Negative','Neutral','Extremely Positive','Extremely Negative']

In [19]:
AB = TC.filter(TC.Sentiment.isin(sentiments))

In [20]:
AB.select('Sentiment').distinct().show()

+------------------+
|         Sentiment|
+------------------+
|Extremely Negative|
|           Neutral|
|          Positive|
|          Negative|
|Extremely Positive|
+------------------+

In [21]:
AB.select('Sentiment').distinct().count()

5

In [22]:
AB.groupby('Sentiment').count().show()

+------------------+-----+
|         Sentiment|count|
+------------------+-----+
|Extremely Negative| 2889|
|           Neutral| 4128|
|          Positive| 6041|
|          Negative| 5261|
|Extremely Positive| 3491|
+------------------+-----+

Here the data is grouped on the basis of the sentiments of the tweets

In [58]:
AB.groupby('Location').count().show()

+--------------------+-----+
|            Location|count|
+--------------------+-----+
|                 ...|    1|
| Mumbai, Maharashtra|    3|
| Brisbane, Australia|    4|
|West Woofle-Dust ...|    1|
|   St Petersburg, FL|    7|
| All across Michigan|    1|
|     Northumberland |    1|
|     stoke on trent |    1|
|some where around...|    1|
|           Bangalore|   19|
|           Norn Iron|    1|
|Horsham, Pennsylv...|    1|
|       Shimla  India|    1|
|Ferrara, Emilia R...|    1|
|      Luton, England|    1|
|              Heaven|    1|
|       St George, UT|    1|
|Just to the left ...|    1|
|           Worcester|    2|
|      Nellore/Canada|    1|
+--------------------+-----+
only showing top 20 rows

Maximum number of tweets are from Bangalore Location

In [23]:
AB.show(10)

+--------+----------+--------------------+----------+--------------------+------------------+------------+
|UserName|ScreenName|            Location|   TweetAt|       OriginalTweet|         Sentiment|Tweet_length|
+--------+----------+--------------------+----------+--------------------+------------------+------------+
|    3799|     48751|              London|16-03-2020|@MeNyrbie @Phil_G...|           Neutral|         111|
|    3800|     48752|                  UK|16-03-2020|advice Talk to yo...|          Positive|         237|
|    3801|     48753|           Vagabonds|16-03-2020|Coronavirus Austr...|          Positive|         131|
|    3804|     48756|ÜT: 36.319708,-82...|16-03-2020|As news of the re...|          Positive|         249|
|    3805|     48757|35.926541,-78.753267|16-03-2020|"Cashier at groce...|          Positive|         184|
|    3807|     48759|     Atlanta, GA USA|16-03-2020|Due to COVID-19 o...|          Positive|         280|
|    3808|     48760|    BHAVNAGAR,GUJRAT|16-03-2020|For corona preven...|          Negative|         267|
|    3809|     48761|      Makati, Manila|16-03-2020|All month there h...|           Neutral|         276|
|    3811|     48763|          Horningsea|16-03-2020|#horningsea is a ...|Extremely Positive|         278|
|    3818|     48770|          Denver, CO|16-03-2020|For those who are...|          Positive|         184|
+--------+----------+--------------------+----------+--------------------+------------------+------------+
only showing top 10 rows

In [24]:
print((AB.count(),len(AB.columns)))

(21810, 7)

In [25]:
# Load packages
import pyspark.ml.feature

In [26]:
dir(pyspark.ml.feature)

['Binarizer',
 'BucketedRandomProjectionLSH',
 'BucketedRandomProjectionLSHModel',
 'Bucketizer',
 'ChiSqSelector',
 'ChiSqSelectorModel',
 'CountVectorizer',
 'CountVectorizerModel',
 'DCT',
 'ElementwiseProduct',
 'FeatureHasher',
 'HasAggregationDepth',
 'HasBlockSize',
 'HasCheckpointInterval',
 'HasCollectSubModels',
 'HasDistanceMeasure',
 'HasElasticNetParam',
 'HasFeaturesCol',
 'HasFitIntercept',
 'HasHandleInvalid',
 'HasInputCol',
 'HasInputCols',
 'HasLabelCol',
 'HasLoss',
 'HasMaxIter',
 'HasNumFeatures',
 'HasOutputCol',
 'HasOutputCols',
 'HasParallelism',
 'HasPredictionCol',
 'HasProbabilityCol',
 'HasRawPredictionCol',
 'HasRegParam',
 'HasRelativeError',
 'HasSeed',
 'HasSolver',
 'HasStandardization',
 'HasStepSize',
 'HasThreshold',
 'HasThresholds',
 'HasTol',
 'HasValidationIndicatorCol',
 'HasVarianceCol',
 'HasWeightCol',
 'HashingTF',
 'IDF',
 'IDFModel',
 'Imputer',
 'ImputerModel',
 'IndexToString',
 'Interaction',
 'JavaEstimator',
 'JavaMLReadable',
 'JavaMLWritable',
 'JavaModel',
 'JavaParams',
 'JavaTransformer',
 'MaxAbsScaler',
 'MaxAbsScalerModel',
 'MinHashLSH',
 'MinHashLSHModel',
 'MinMaxScaler',
 'MinMaxScalerModel',
 'NGram',
 'Normalizer',
 'OneHotEncoder',
 'OneHotEncoderModel',
 'PCA',
 'PCAModel',
 'Param',
 'Params',
 'PolynomialExpansion',
 'QuantileDiscretizer',
 'RFormula',
 'RFormulaModel',
 'RegexTokenizer',
 'RobustScaler',
 'RobustScalerModel',
 'SQLTransformer',
 'SparkContext',
 'StandardScaler',
 'StandardScalerModel',
 'StopWordsRemover',
 'StringIndexer',
 'StringIndexerModel',
 'Tokenizer',
 'TypeConverters',
 'VectorAssembler',
 'VectorIndexer',
 'VectorIndexerModel',
 'VectorSizeHint',
 'VectorSlicer',
 'Word2Vec',
 'Word2VecModel',
 '_BucketedRandomProjectionLSHParams',
 '_ChiSqSelectorParams',
 '_CountVectorizerParams',
 '_IDFParams',
 '_ImputerParams',
 '_LSH',
 '_LSHModel',
 '_LSHParams',
 '_MaxAbsScalerParams',
 '_MinMaxScalerParams',
 '_OneHotEncoderParams',
 '_PCAParams',
 '_RFormulaParams',
 '_RobustScalerParams',
 '_StandardScalerParams',
 '_StringIndexerParams',
 '_VectorIndexerParams',
 '_Word2VecParams',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_convert_to_vector',
 '_jvm',
 'basestring',
 'ignore_unicode_prefix',
 'inherit_doc',
 'keyword_only',
 'since',
 'sys']

In [29]:
# Importing Libraries 
from pyspark.ml.feature import Tokenizer, RegexTokenizer, StopWordsRemover, CountVectorizer, IDF
from pyspark.ml.feature import StringIndexer
from pyspark.sql.functions import col, udf
from pyspark.sql.types import IntegerType

from pyspark.ml.feature import VectorAssembler
from pyspark.ml.linalg import Vector

In [48]:
# Stages of Pipeline
tokenizer = Tokenizer(inputCol='OriginalTweet', outputCol='token_text')
stopwords_remover = StopWordsRemover(inputCol='token_text', outputCol='stop_token')
vectorizer = CountVectorizer(inputCol='stop_token', outputCol='RawTweets')
idf = IDF(inputCol='RawTweets', outputCol='Tweets')

#Converting Labels to Numeric
labeltonum=StringIndexer(inputCol="Sentiment", outputCol="label")

In [49]:
CD = VectorAssembler(inputCols=["Tweets","Tweet_length"], outputCol="features")

# Model

In [50]:
from pyspark.ml.feature import NGram
from pyspark.ml.classification import NaiveBayes, RandomForestClassifier, DecisionTreeClassifier

nb=NaiveBayes()
rf=RandomForestClassifier(numTrees=100)
dtc=DecisionTreeClassifier(maxDepth=15)

from pyspark.ml import Pipeline

In [59]:
pipeline = Pipeline(stages=[labeltonum, tokenizer, stopwords_remover, vectorizer, idf, CD])

In [60]:
pipeline

Pipeline_43a3881c98d7

In [61]:
pipeline.stages

Param(parent='Pipeline_43a3881c98d7', name='stages', doc='a list of pipeline stages')

In [62]:
EF = pipeline.fit(AB)

In [63]:
GH = EF.transform(AB)

In [64]:
GH.show(5)

+--------+----------+--------------------+----------+--------------------+---------+------------+-----+--------------------+--------------------+--------------------+--------------------+--------------------+
|UserName|ScreenName|            Location|   TweetAt|       OriginalTweet|Sentiment|Tweet_length|label|          token_text|          stop_token|           RawTweets|              Tweets|            features|
+--------+----------+--------------------+----------+--------------------+---------+------------+-----+--------------------+--------------------+--------------------+--------------------+--------------------+
|    3799|     48751|              London|16-03-2020|@MeNyrbie @Phil_G...|  Neutral|         111|  2.0|[@menyrbie, @phil...|[@menyrbie, @phil...|(66313,[14329,347...|(66313,[14329,347...|(66314,[14329,347...|
|    3800|     48752|                  UK|16-03-2020|advice Talk to yo...| Positive|         237|  0.0|[advice, talk, to...|[advice, talk, ne...|(66313,[14,15,133...|(66313,[14,15,133...|(66314,[14,15,133...|
|    3801|     48753|           Vagabonds|16-03-2020|Coronavirus Austr...| Positive|         131|  0.0|[coronavirus, aus...|[coronavirus, aus...|(66313,[7,15,35,7...|(66313,[7,15,35,7...|(66314,[7,15,35,7...|
|    3804|     48756|ÜT: 36.319708,-82...|16-03-2020|As news of the re...| Positive|         249|  0.0|[as, news, of, th...|[news, regions, ...|(66313,[7,8,31,47...|(66313,[7,8,31,47...|(66314,[7,8,31,47...|
|    3805|     48757|35.926541,-78.753267|16-03-2020|"Cashier at groce...| Positive|         184|  0.0|["cashier, at, gr...|["cashier, grocer...|(66313,[4,6,18,60...|(66313,[4,6,18,60...|(66314,[4,6,18,60...|
+--------+----------+--------------------+----------+--------------------+---------+------------+-----+--------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 5 rows

In [65]:
GH = GH.select(['label', 'features'])

In [66]:
GH.show()

+-----+--------------------+
|label|            features|
+-----+--------------------+
|  2.0|(66314,[14329,347...|
|  0.0|(66314,[14,15,133...|
|  0.0|(66314,[7,15,35,7...|
|  0.0|(66314,[7,8,31,47...|
|  0.0|(66314,[4,6,18,60...|
|  0.0|(66314,[1,6,7,14,...|
|  1.0|(66314,[11,14,15,...|
|  2.0|(66314,[51,73,151...|
|  3.0|(66314,[14,15,24,...|
|  0.0|(66314,[3,7,22,39...|
|  4.0|(66314,[1,3,9,11,...|
|  1.0|(66314,[3,21,44,7...|
|  3.0|(66314,[10,35,50,...|
|  1.0|(66314,[3,7,22,32...|
|  4.0|(66314,[1,8,11,37...|
|  2.0|(66314,[5,47,51,6...|
|  0.0|(66314,[7,12,24,2...|
|  0.0|(66314,[5,19,20,4...|
|  4.0|(66314,[0,3,12,21...|
|  2.0|(66314,[0,8,14,15...|
+-----+--------------------+
only showing top 20 rows

# ML Training

In [72]:
# Spliting Dataset into Train and Test Data
(traintc, testtc) = GH.randomSplit((0.7, 0.3))

In [73]:
PredictNB = nb.fit(traintc)

In [74]:
PredictRF= rf.fit(traintc)

# Testing the Model

In [75]:
NB_results = PredictNB.transform(testtc)

In [76]:
RF_results = PredictRF.transform(testtc)

In [77]:
NB_results.show()

+-----+--------------------+--------------------+--------------------+----------+
|label|            features|       rawPrediction|         probability|prediction|
+-----+--------------------+--------------------+--------------------+----------+
|  0.0|(66314,[0,1,2,8,4...|[-1266.1194558574...|[1.62972945933352...|       4.0|
|  0.0|(66314,[0,1,2,12,...|[-1131.7293835562...|[0.05141633318800...|       3.0|
|  0.0|(66314,[0,1,2,13,...|[-1693.7115663206...|[7.59525903638559...|       3.0|
|  0.0|(66314,[0,1,2,16,...|[-1180.1247174083...|[0.99993722733317...|       0.0|
|  0.0|(66314,[0,1,2,25,...|[-2008.1332073200...|[1.0,6.3180101352...|       0.0|
|  0.0|(66314,[0,1,3,4,1...|[-1389.6572124391...|[4.61765690218920...|       2.0|
|  0.0|(66314,[0,1,3,5,1...|[-818.96975489271...|[0.33814644066027...|       3.0|
|  0.0|(66314,[0,1,3,10,...|[-1909.5191209775...|[1.95112279013779...|       1.0|
|  0.0|(66314,[0,1,3,31,...|[-1517.8262106313...|[5.00956386455401...|       1.0|
|  0.0|(66314,[0,1,4,6,8...|[-1308.1188259731...|[2.67961875480927...|       1.0|
|  0.0|(66314,[0,1,4,6,8...|[-918.68274579619...|[0.99999999996146...|       0.0|
|  0.0|(66314,[0,1,4,6,1...|[-1106.5853313568...|[1.88795311769257...|       3.0|
|  0.0|(66314,[0,1,4,6,1...|[-1517.2414097555...|[2.53666614683607...|       4.0|
|  0.0|(66314,[0,1,4,6,1...|[-1401.3681501814...|[3.87159013479508...|       3.0|
|  0.0|(66314,[0,1,4,6,5...|[-542.27154888444...|[1.12414466366658...|       4.0|
|  0.0|(66314,[0,1,4,6,1...|[-917.34680072016...|[0.99924333914013...|       0.0|
|  0.0|(66314,[0,1,4,12,...|[-2133.0540492735...|[4.25892286693712...|       3.0|
|  0.0|(66314,[0,1,4,30,...|[-974.97171762736...|[0.01269515806936...|       3.0|
|  0.0|(66314,[0,1,4,61,...|[-2095.1260825487...|[1.93190453455028...|       2.0|
|  0.0|(66314,[0,1,5,8,1...|[-1370.6668856885...|[8.11156938108696...|       1.0|
+-----+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

In [78]:
RF_results.show()

+-----+--------------------+--------------------+--------------------+----------+
|label|            features|       rawPrediction|         probability|prediction|
+-----+--------------------+--------------------+--------------------+----------+
|  0.0|(66314,[0,1,2,8,4...|[27.7160621412236...|[0.27716062141223...|       0.0|
|  0.0|(66314,[0,1,2,12,...|[27.8997586358119...|[0.27899758635811...|       0.0|
|  0.0|(66314,[0,1,2,13,...|[27.5742436380678...|[0.27574243638067...|       0.0|
|  0.0|(66314,[0,1,2,16,...|[27.6698150036080...|[0.27669815003608...|       0.0|
|  0.0|(66314,[0,1,2,25,...|[27.9772419567301...|[0.27977241956730...|       0.0|
|  0.0|(66314,[0,1,3,4,1...|[27.6694643212146...|[0.27669464321214...|       0.0|
|  0.0|(66314,[0,1,3,5,1...|[28.1452853515514...|[0.28145285351551...|       0.0|
|  0.0|(66314,[0,1,3,10,...|[27.1912615929773...|[0.27191261592977...|       0.0|
|  0.0|(66314,[0,1,3,31,...|[27.7556923791544...|[0.27755692379154...|       0.0|
|  0.0|(66314,[0,1,4,6,8...|[27.8266771637958...|[0.27826677163795...|       0.0|
|  0.0|(66314,[0,1,4,6,8...|[27.6502092861725...|[0.27650209286172...|       0.0|
|  0.0|(66314,[0,1,4,6,1...|[27.7037987430170...|[0.27703798743017...|       0.0|
|  0.0|(66314,[0,1,4,6,1...|[27.8855102281537...|[0.27885510228153...|       0.0|
|  0.0|(66314,[0,1,4,6,1...|[27.8405702177782...|[0.27840570217778...|       0.0|
|  0.0|(66314,[0,1,4,6,5...|[27.4626079261747...|[0.27462607926174...|       0.0|
|  0.0|(66314,[0,1,4,6,1...|[27.5887256167844...|[0.27588725616784...|       0.0|
|  0.0|(66314,[0,1,4,12,...|[28.0152810531679...|[0.28015281053167...|       0.0|
|  0.0|(66314,[0,1,4,30,...|[27.7812964165460...|[0.27781296416546...|       0.0|
|  0.0|(66314,[0,1,4,61,...|[27.7094855735988...|[0.27709485573598...|       0.0|
|  0.0|(66314,[0,1,5,8,1...|[27.8376154798239...|[0.27837615479823...|       0.0|
+-----+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

In [79]:
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

In [80]:
eva = MulticlassClassificationEvaluator()
acc_NB = eva.evaluate(NB_results)

In [81]:
eva = MulticlassClassificationEvaluator()
acc_RF = eva.evaluate(RF_results)

In [82]:
print("accuracy of the NB and RF is ::", acc_NB, acc_RF)

accuracy of the NB and RF is :: 0.3910757327772677 0.12258262788347707

# Thank You